<% comments.each do |comment| %>
  <div id="comment-<%= comment.id %>" class="card p-3 mb-2">
    <div class="d-flex justify-content-between">
      <div><%= link_to comment.account.username, profile_path(comment.account.username) %></div>
      <% if account_signed_in? %>
        <% if comment.account_id === current_account.id %>
          <div><%= button_to "Delete Comment", comment_path(comment.id), remote: true, method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "float-end btn btn-sm btn-outline-danger" %></div>
        <% end%>
      <% end%>
    </div>
    
    <%= simple_format comment.message %>
  </div>
<% end %>
