<%= title "#{@community.url}: submit" %>
<% content_for :header_info do %>
  <p role="button" class="h4 mb-2 mt-2 d-flex align-items-center"><%= link_to "Reddit", root_path, class: "text-decoration-none" %></p>
  <%= link_to "#{@community.url}: submit", @community, class: "h6 mb-2 mt-2 mx-2 text-decoration-none text-dark fw-bold align-items-center d-flex text-nowrap" %>
<% end  %>
<h2>New Post</h2>
<%= render partial: "form"  %>
