<% content_for :header_info do %>
  <p role="button" class="h4 mb-2 mt-2 d-flex align-items-center"><%= link_to "Reddit", root_path, class: "text-decoration-none" %></p>
<% end %>
<%= title "reddit.com: create a community" %>

<h2>New Community</h2>

<%= render partial: "form"  %>