<div class="row">
  <div class="col-sm-7">
    <%= render partial: "posts/lists" %>
  </div>
  <div class="col-sm-5">
    <p class="h5">New Communities</p> 
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @communities.each do |community| %>
          <div class="card">
            <div><%= link_to community.name.capitalize, community, class: "text-decoration-none h6 m-3" %>
            </div>
            <div class="mx-3">
              <%= time_ago_in_words community.created_at %> ago
            </div>
            <div class="mx-3"><%= pluralize community.subscribers.count, "member" %></div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
