<footer class="font-small blue">
  <div class="text-center py-3">
    <a href="https://www.linkedin.com/in/john-tyler-finley/", target="_blank"> <i class="mx-3 fa-brands fa-2x fa-linkedin"></i></a>
    <a href="https://github.com/jfinley6", target="_blank"> <i class="mx-4 fa-brands fa-2x fa-github"></i></a>
  </div>
</footer>
